# 本 fork 的维护者。CODEOWNERS 指定负责人，分支规则决定是否强制审查。
*                                   @saksim


.github/workflows/**               @saksim


requirements.txt                   @saksim
pyproject.toml                     @saksim
Pipfile                            @saksim
package.json                       @saksim
package-lock.json                  @saksim
pnpm-lock.yaml                     @saksim


Dockerfile                         @saksim
docker/**                          @saksim
scripts/deploy/**                  @saksim
